/* Common Styles */

/* mobile view */
.about-me {
  font-size: 0.875rem;
  color: #fff;
  padding-top: 4.813rem;
  padding-left: 1.688rem;
  padding-bottom: 1.75rem;
  position: sticky;
  top: 0;
  background-color: #011627;
}
.about-icon-bar {
  display: none;
}
.about-dropdown-container {
  position: sticky;
  top: 7.438rem;
  background-color: #011627;
  padding-bottom: 0.625rem;
}
.about-title-container {
  display: flex;
  height: 1.938rem;
  width: 100%;
  line-height: 1.938rem;
  color: #607b96;
  background-color: #1e2d3d;
  margin-bottom: 0.188rem;
  cursor: pointer;
}
.about-title-icon {
  padding-left: 1.25rem;
}
.about-title-open {
  margin-bottom: 1rem;
}
.about-title {
  padding-left: 0.771rem;
  font-size: 1rem;
  font-weight: 400;
}
.title-close {
  display: none;
}
.about-subtitle-container {
  display: flex;
}
.about-arrow-icon {
  padding-left: 1rem;
  transition: all 0.3s ease-in-out;
}
.about-icon-rotate {
  transform: translate(25%, -30%) rotate(90deg);
  transition: all 0.3s ease-in-out;
  padding-left: 0.5rem;
  margin-left: 0.75rem;
}
.about-folder-icon {
  padding-left: 0.813rem;
}
.about-subtitle {
  padding-left: 0.563rem;
  line-height: 1rem;
  color: #607b96;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.selected {
  color: #fff;
}
.about-item-container {
  padding-bottom: 0.625rem;
  padding-left: 2.875rem;
  display: flex;
}

.about-text-container {
  padding-top: 2.375rem;
  display: grid;
  width: 100%;
  background-color: #011627;
}
.about-item {
  color: #607b96;
  padding-left: 0.563rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.about-text-title {
  display: flex;
  padding-bottom: 1.063rem;
  max-width: 31.25rem;
  width: 100%;
}
.lineNumbers-container {
  display: none;
}
.about-text-content {
  padding-left: 0.688rem;
}
.about-text {
  font-size: 1rem;
  font-weight: 400;
  color: #607b96;
  justify-self: center;
}
.about-images {
  padding-top: 2.375rem;
  display: block;
  width: 100%;
}
.about-images-title {
  padding-left: 0.771rem;
  padding-bottom: 1.813rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.about-images-container {
  display: grid;
  width: 100%;
}
.scroll-wrapper {
  margin-bottom: 4.688rem;
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}
.details-container {
  margin-bottom: 0.75rem;
  max-width: 31.25rem;
  display: flex;
  justify-content: space-between;
}
.about-profile-pic {
  background-image: url("../../assets/bg/profilePic.jpg");
  background-position: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}
.about-image {
  width: 100%;
  max-width: 31.25rem;
  height: auto;
  border-radius: 0.625rem;
  justify-self: center;
  margin-bottom: 1.875rem;
}
.details-chat-container {
  display: flex;
  align-items: center;
}
.chat-icon {
  fill: #607b96;
}
.details-chat-container:hover {
  cursor: pointer;

  .details-chat {
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .chat-icon {
    fill: #fff;
    transition: all 0.3s ease-in-out;
  }
}
.details-chat {
  font-size: 0.875rem;
  font-weight: 400;
  color: #607b96;
  line-height: 2.25rem;
  padding-left: 0.313rem;
}
.hidden-text-container {
  display: none;
}
.details-text-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #607b96;
  max-width: 31.25rem;
  padding-top: 1.063rem;
  padding-bottom: 3.188rem;
}
.details-text {
  width: 100%;
  color: #607b96;
  font-size: 0.875rem;
}
.close-button {
  fill: #607b96;
}
.close-button:hover {
  cursor: pointer;
  fill: #fff;
  scale: 1.01;
  transition: all 0.3s ease-in-out;
}
/*
Desktop Styles
*/
/*
need more breakpoints for images
*/
@media only screen and (max-width: 950px) {
  .tab-style {
    color: #fff;
  }
}
@media only screen and (min-width: 500px) {
  .about-text-container {
    justify-items: center;
  }
  .about-image {
    width: 100%;
  }
}
@media only screen and (min-width: 950px) {
  #about {
    height: 100vh;
    /* background-image: url("../../assets/bg/logo.svg");
   */
    background-size: 40;
    background-repeat: no-repeat;
    background-position: bottom 6.25rem right 4.375rem;
  }
  .about-me {
    display: none;
    position: initial;
  }
  .about-container {
    display: flex;
    height: 100%;
  }
  .about-icon-bar {
    margin-top: 3.5rem;
    display: grid;
    justify-content: center;
    grid-template-rows: 2.5rem 2.5rem 2.5rem;
    min-width: 4.25rem;
    max-height: 100%;
    border-right: 1px solid #1e2d3d;
  }
  .about-icon {
    width: 24px;
    padding-top: 1.063rem;
  }
  .about-dropdown-container {
    margin-top: 3.5rem;
    border-right: 1px solid #1e2d3d;
    position: initial;
  }
  .about-title-container {
    justify-content: flex-start;
    background: none;
    width: 15.188rem;
    border-bottom: 1px solid #1e2d3d;
    border-top: 1px solid #1e2d3d;
  }
  .about-title-container:nth-child(1) {
    border-bottom: 0px solid #1e2d3d;
    border-top: none;
  }

  .about-title-container:hover {
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  .about-title-open:nth-child(1) {
    border-bottom: 1px solid #1e2d3d;
    transition: all 0.01s ease-in-out;
  }
  .about-subtitle:hover {
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  .about-text-container {
    display: block;
    padding-left: 0;
    padding-top: 3.5rem;
    width: 100%;
    overflow: hidden;
  }
  .about-item:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .about-text-title {
    padding: 0;
    max-width: none;
    border-bottom: 1px solid #1e2d3d;
    align-self: start;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .title-desktop-container {
    display: flex;
  }
  .about-title-open {
    margin-bottom: 1.313rem;
  }
  .tab-style {
    height: 1.938rem;
    line-height: 1.938rem;
    color: #607b96;
  }
  .slash {
    display: none;
  }
  .title-close {
    height: 100%;
    display: block;
    margin-left: 3.069rem;
    padding-right: 0.688rem;
    border-right: 1px solid #1e2d3d;
    fill: #607b96;
  }
  .title-close:hover {
    fill: #fff;
    scale: 1.01;
    transition: all 0.3s ease-in-out;
  }
  .title-close:hover {
    cursor: pointer;
  }
  .subtitle-desktop {
    display: none;
  }
  .about-content-desktop {
    display: flex;
    height: 100%;
    box-sizing: border-box;
  }
  .about-text-content-wrapper {
    padding-top: 1rem;
    margin-bottom: 100px;
    display: flex;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid #1e2d3d;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .about-text-content-wrapper::-webkit-scrollbar {
    display: none;
  }
  .lineNumbers-container {
    width: 6.25rem;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(16, 1.688rem);
  }
  .aboutLineNumbers {
    font-size: 1rem;
    color: #607b96;
    line-height: 1.313;
    text-align: end;
    padding-right: 2.5rem;
    padding-left: 2.375rem;
  }
  .about-text {
    padding-right: 3.125rem;
    font-size: 1.125rem;
    line-height: 150%;
  }

  .about-images {
    padding-top: 0;
    display: block;
    width: 50%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .about-images::-webkit-scrollbar {
    display: none;
  }

  .about-images-title {
    padding-top: 1rem;

    padding-bottom: 3.625rem;
    padding-left: 0.938rem;
    margin: 0;
  }
  .about-images-container {
    justify-content: center;
  }
  image {
    max-width: 25rem;
  }
}
