#works {
}
.dark-blue {
  background-color: #264de4;
}
.light-blue {
  background-color: #61dbfb;
}
.yellow {
  background-color: #f7df1e;
}
.green {
  background-color: #81d4af;
}
.works-title {
  font-size: 14px;
  color: #fff;
  padding-top: 77px;
  padding-left: 27px;
  padding-bottom: 28px;
}
.works-subtitle-container {
  display: flex;
  height: 31px;
  width: 100%;
  line-height: 31px;
  color: #fff;
  background-color: #1e2d3d;
  margin-bottom: 3px;
  cursor: pointer;
}
.works-subtitle-icon {
  padding-left: 20px;
}
.works-subtitle-open {
  margin-bottom: 16px;
}
.rotate {
  transform: translate(25%, -30%) rotate(90deg);
  transition: 0.3s ease-in-out;
}
.works-subtitle {
  padding-left: 12.33px;
  font-size: 16px;
  font-weight: 400;
}
.works-filter {
  display: grid;
  gap: 17.5px;
}
.hide-filter {
  display: none;
}
.works-filter-item {
  display: flex;
  align-items: center;
  height: 24px;
  color: #607b96;
  font-size: 16px;
  font-weight: 400;
}
.works-checkbox {
}
input[type="checkbox"] {
  appearance: none;
  border: 1px solid #607b96;
  border-radius: 2px;
  width: 19px;
  height: 19px;
  margin-left: 27.5px;
}

input[type="checkbox"]:checked {
  content: "";
  background-color: #607b96;
  background-image: url(../../assets/icons/check-line.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.works-checkbox-icon {
  margin-left: 25.5px;
  margin-right: 10px;
}
.works-selected-container::-webkit-scrollbar {
  display: none;
}
.works-selected-container {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.works-active-filters-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 38px;
}
.works-active-filters-title {
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  padding-left: 27px;
}
.works-active-filters {
  font-size: 16px;
  line-height: 31px;
  font-weight: 400;
  padding-left: 12px;
  color: #607b96;
  text-align: center;
}
.work-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.card-container {
  padding-top: 20px;
  width: 291px;
}
.card-title-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}
.card-title {
  font-size: 16px;
  font-weight: 400;
  color: #5565e8;
}
.card-tag {
  font-size: 16px;
  font-weight: 400;
  padding-left: 12px;
  color: #607b96;
}
.card-media-container {
  background-color: #011221;
  width: 100%;
  height: 328px;
  border: 1px solid #1e2d3d;
  border-radius: 10px;
}
.card-img-container {
  position: relative;
}
.card-img {
  width: 100%;
  height: 146px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  fill: #011221;
  top: 17px;
  right: 17px;
  border-radius: 4px;
}
.card-description {
  width: 100%;
  height: 182px;
  display: grid;
  justify-items: start;
}
.card-text {
  padding-top: 29px;
  color: #607b96;
  padding-left: 31px;
  padding-right: 31px;
}
.card-link-container {
  width: 129px;
  height: 38px;
  background-color: #1c2b3a;
  display: grid;
  justify-items: center;
  align-content: center;
  margin-left: 31px;
  margin-right: 31px;
  border-radius: 10px;
}
.card-link {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

@media only screen and (min-width: 821px) {
  #works {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
  .works-container {
    display: flex;
    height: 100%;
  }
  .works-title {
    display: none;
  }
  .works-selection-container {
    border-right: 1px solid #1e2d3d;
  }
  .works-filter-container {
    height: auto;
    margin-top: 57px;
  }
  .works-subtitle-container {
    justify-content: flex-start;
    background: none;
    margin: 0;
    width: 312px;
    border-bottom: 1px solid #1e2d3d;
  }
  .works-selected-container {
    position: relative;
    width: 100%;
    margin-top: 57px;
  }
  .works-active-filters-container {
    position: fixed;
    width: 100%;
    padding-top: 0;
    border-bottom: 1px solid #1e2d3d;
    z-index: 1;
    backdrop-filter: blur(10px);
  }
  .works-active-filters {
  }
  .works-active-filters:last-child {
    border-right: 1px solid #1e2d3d;
    padding-right: 78.23px;
  }
  .works-active-filters-title {
    display: none;
  }
  .works-filter {
    display: block;
  }
  .works-filter-item {
    padding-top: 17.5px;
  }
  .work-card {
  }
  .card-container {
    width: 370px;
    padding-top: 92px;
  }
  .card-media-container {
    height: 314px;
  }
}
