.dark-blue {
  background-color: #8fa2b7;
}
.light-blue {
  background-color: #61dbfb;
}
.yellow {
  background-color: #f7df1e;
}
.white {
  background-color: #fff;
}
.works-selection-container {
  position: sticky;
  top: 0;
  background-color: #011627;
  z-index: 1;
  padding-bottom: 2.375rem;
}
.works-title {
  font-size: 0.875rem;
  color: #fff;
  padding-top: 4.813rem;
  padding-left: 1.688rem;
  padding-bottom: 1.75rem;
}
.works-subtitle-container {
  display: flex;
  height: 1.938rem;
  width: 100%;
  line-height: 1.938rem;
  color: #8fa2b7;
  background-color: #1e2d3d;
  margin-bottom: 0.188rem;
  cursor: pointer;
}
.works-subtitle-container:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.selected {
  color: #fff;
}
.works-subtitle-icon {
  padding-left: 1.25rem;
}
.works-subtitle-open {
  margin-bottom: 1rem;
}
.rotate {
  transform: translate(25%, -30%) rotate(90deg);
  transition: 0.3s ease-in-out;
}
.works-subtitle {
  padding-left: 0.771rem;
  font-size: 1rem;
  font-weight: 400;
}
.works-filter {
  display: grid;
  gap: 1.094rem;
}

.hide-filter {
  display: none;
}
.works-filter-item {
  display: flex;
  align-items: center;
  color: #8fa2b7;
  font-weight: 400;
}

.works-checkbox:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all 0.1s ease-in-out;
  border-color: #fff;
}
input[type="checkbox"] {
  appearance: none;
  border: 1px solid #8fa2b7;
  border-radius: 2px;
  width: 1.188rem;
  height: 1.188rem;
  margin-left: 1.719rem;
}

input[type="checkbox"]:checked {
  content: "";
  background-color: #8fa2b7;
  background-image: url(../../assets/icons/check-line.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.works-checkbox-icon {
  margin-left: 1.594rem;
  margin-right: 0.625rem;
}
.works-selected-container::-webkit-scrollbar {
  display: none;
}
.works-selected-container {
  overflow: scroll;
}
.works-active-filters-container {
  display: flex;
  flex-wrap: wrap;
  height: 1.938rem;
}
.works-active-filters-title {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  padding-left: 1.688rem;
}
.works-active-filters {
  font-size: 1rem;
  line-height: 1.938rem;
  font-weight: 400;
  padding-left: 0.75rem;
  color: #8fa2b7;
  text-align: center;
}
.projects-title-close {
  display: none;
}
.work-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-bottom: 4.688rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-top: 5rem;
}
.card-container {
  width: 18.118rem;
}
.card-title-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.938rem;
}
.card-title {
  font-size: 1rem;
  font-weight: 400;
  padding-right: 0.75rem;
  color: #5565e8;
}
.card-tag {
  font-size: 1rem;
  font-weight: 400;
  color: #8fa2b7;
}
.card-media-container {
  background-color: #011221;
  width: 100%;
  height: 20.5rem;
  border: 1px solid #1e2d3d;
  border-radius: 0.625rem;
}
.card-img-container {
  position: relative;
}
.card-img {
  width: 100%;
  height: 9.125rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  object-fit: cover;
}
.card-icon {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  fill: #011221;
  top: 1.063rem;
  right: 1.063rem;
  border-radius: 4px;
}
.card-description {
  width: 100%;
  height: 11.375rem;
  display: grid;
  justify-items: start;
}
.card-text {
  padding-top: 1.813rem;
  font-size: 0.875rem;
  color: #8fa2b7;
  padding-left: 1.938rem;
  padding-right: 1.938rem;
}
.links-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-link-container {
  width: 8.063rem;
  height: 2.375rem;
  background-color: #1c2b3a;
  display: grid;
  justify-items: center;
  align-content: center;
  position: relative;
  left: 1.938rem;
  margin-right: 1.938rem;
  border-radius: 0.625rem;
  cursor: pointer;
}
.card-link {
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
}
.card-link-container:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}
.card-git {
  position: relative;
  right: 1.938rem;
}
.card-git:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 821px) {
  #works {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
  .works-container {
    display: flex;
    height: 100%;
  }
  .work-card {
    margin-bottom: 0;
  }
  .works-title {
    display: none;
  }
  .works-selection-container {
    border-right: 1px solid #1e2d3d;
  }
  .works-filter-container {
    height: auto;
    margin-top: 3.563rem;
  }
  .works-subtitle-container {
    justify-content: flex-start;
    background: none;
    margin: 0;
    width: 19.5rem;
    border-bottom: 1px solid #1e2d3d;
  }
  .works-selected-container {
    position: relative;
    width: 100%;
    margin-top: 3.563rem;
    margin-bottom: 2.188rem;
    scrollbar-width: 1rem;
    -ms-overflow-style: initial; /* IE and Edge */
  }
  .works-selected-container::-webkit-scrollbar {
    display: initial;
    width: 1rem;
  }
  .works-selected-container::-webkit-scrollbar-thumb {
    background: #8fa2b7;
  }
  .works-selected-container::-webkit-scrollbar-track {
    background: #011221;
    border: 1px solid #1e2d3d;
  }
  .works-active-filters-container {
    position: fixed;
    width: 100%;
    padding-top: 0;
    border-bottom: 1px solid #1e2d3d;
    z-index: 1;
    background-color: #011627;
  }
  .works-active-filters:last-child {
    border-right: 1px solid #1e2d3d;
    padding-right: 4.889rem;
  }
  .works-active-filters-title {
    display: none;
  }
  .projects-title-close {
    display: block;
    height: 100%;
    fill: #8fa2b7;
    margin-left: 3.069rem;
    padding-right: 0.688rem;
    border-right: 1px solid #1e2d3d;
    cursor: pointer;
  }
  .projects-title-close:hover {
    fill: #fff;
    scale: 1.01;
    transition: all 0.3s ease-in-out;
  }
  .works-filter {
    display: block;
  }
  .works-filter-item {
    padding-top: 1.094rem;
  }
  .work-card {
    padding-top: 6rem;
  }
  .card-container {
    width: 23.125rem;
  }
  .card-media-container {
    height: 19.625rem;
  }
}
