.contacts {
  font-size: 14px;
  color: #fff;
  padding-top: 77px;
  padding-left: 27px;
  padding-bottom: 28px;
}
.contact-container {
  display: flex;
  height: 31px;
  width: 100%;
  line-height: 31px;
  color: #fff;
  background-color: #1e2d3d;
  margin-bottom: 3px;
  cursor: pointer;
}
.contact-open {
  margin-bottom: 16px;
}
.contact-icon {
  padding-left: 20px;
}
.rotate {
  transform: translate(25%, -30%) rotate(90deg);
  transition: ease-in-out;
}
.contact-title {
  padding-left: 12.33px;
  font-size: 16px;
  font-weight: 400;
}
