.pink {
  color: #c98bdf;
}
.orange {
  color: #fea55f;
}
.gray {
  color: #8fa2b7;
}
.selected {
  color: #fff;
}
.contacts {
  font-size: 0.875rem;
  color: #fff;
  padding-top: 4.813rem;
  padding-left: 1.688rem;
  padding-bottom: 1.75rem;
  position: sticky;
  top: 0;
  background-color: #011627;
}
.contact-selection-container {
  position: sticky;
  top: 7.438rem;
  background-color: #011627;
  padding-bottom: 0.625rem;
}
.contact-selection {
  display: flex;
  height: 1.875rem;
  width: 100%;
  line-height: 1.938rem;
  color: #8fa2b7;
  background-color: #1e2d3d;
  margin-bottom: 0.188rem;
  cursor: pointer;
}
.contact-open {
  margin-bottom: 1rem;
}
.contact-icon-arrow {
  padding-left: 1.25rem;
}
.rotate {
  transform: translate(25%, -30%) rotate(90deg);
  transition: ease-in-out;
}
.contact-title {
  padding-left: 0.771rem;
  font-size: 1rem;
  font-weight: 400;
}
.contact-items-container {
  padding-bottom: 0.625rem;
  display: flex;
}
.find-me-container {
  display: grid;
  gap: 0.625rem;
}
.find-me-item-container:hover {
  .contact-icon {
    fill: #fff;
    transition: all 0.3s ease-in-out;
  }
  .contact-item {
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
}
.contact-icon {
  padding-left: 1.75rem;
  fill: #8fa2b7;
}
.contact-item {
  padding-left: 0.563rem;
  line-height: 1rem;
  color: #8fa2b7;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.form-container {
  margin-top: 2.625rem;
  width: 100%;
}
.form {
  display: grid;
  justify-items: center;
  gap: 1.125rem;
  padding-bottom: 4.688rem;
  padding-left: 1.688rem;
  padding-right: 1.688rem;
}
.input-container-title {
  display: none;
}
.contacts-title-close {
  display: none;
}
.input {
  width: 100%;
}
.input-title {
  display: block;
  color: #8fa2b7;
  padding-bottom: 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  width: 100%;
}
textarea {
  color: #8fa2b7;
  font-size: 1rem;
  box-sizing: border-box;
  resize: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.input-name {
  height: 2.563rem;
  width: 100%;
  background-color: #011221;
  border: 1px solid #1e2d3d;
  border-radius: 8px;
  justify-self: center;
}
.input-message {
  height: 9.063rem;
  width: 100%;
  background-color: #011221;
  border: 1px solid #1e2d3d;
  border-radius: 8px;
}
.submit {
  margin-top: 1.125rem;
  width: 9.125rem;
  height: 2.375rem;
  background-color: #1c2b3a;
  color: #fff;
  font-size: 0.875rem;
  border: 1px solid #1e2d3d;
  border-radius: 8px;
}
.submit:hover {
  color: #fea55f;
  cursor: pointer;
  scale: 1.01;
  transition: all 0.3s ease-in-out;
}
.new-message {
  display: grid;
  justify-items: center;
  padding-top: 2.625rem;
  gap: 0.813rem;
}
.new-message-title {
  font-size: 1.5rem;
  color: #fff;
}
.new-message-text {
  font-size: 1.125rem;
  color: #8fa2b7;
  text-align: center;
  margin-left: 1.688rem;
  margin-right: 1.688rem;
}
.form-animation {
  display: none;
}
@media only screen and (min-width: 500px) {
  .input {
    width: 23.25rem;
  }
  .input-name {
    width: 23.25rem;
  }
  .input-message {
    width: 23.25rem;
  }
}
/* Desktop Styles
*/
@media only screen and (min-width: 821px) {
  #contacts {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
  .contacts-container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .contact-selection-container {
    height: auto;
    margin-top: 3.563rem;
    border-right: 1px solid #1e2d3d;
  }
  .contact-selection {
    justify-content: flex-start;
    background: none;
    width: 19.5rem;
    border-bottom: 1px solid #1e2d3d;
    border-top: 1px solid #1e2d3d;
  }
  .contact-selection:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .contact-selection:nth-child(1) {
    border: none;
  }
  .contact-open:nth-child(1) {
    border-bottom: 1px solid #1e2d3d;
    transition: all 0.01s ease-in-out;
  }
  .contact-items-container {
    padding-bottom: 1.688rem;
  }

  .contacts {
    display: none;
  }
  .form-container {
    margin-top: 3.563rem;
  }
  .input-title-wrapper {
    position: fixed;
    width: 100%;
    padding-top: 0;
    border-bottom: 1px solid #1e2d3d;
    z-index: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
  }
  .input-container-title {
    height: 1.938rem;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.938rem;
    font-weight: 400;
    padding-left: 0.75rem;
    color: #8fa2b7;
    text-align: center;
  }
  .contacts-title-close {
    display: grid;
    fill: #8fa2b7;
    align-items: center;
    margin-left: 3.069rem;
    padding-right: 0.688rem;
    border-right: 1px solid #1e2d3d;
  }
  .form-content {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .border-div {
    width: 50%;
    height: 100%;
    border-right: solid 1px #1e2d3d;
    padding-top: 9.688rem;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .border-div::-webkit-scrollbar {
    display: none;
  }
  .form {
    margin-bottom: 15.625rem;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
  }
  .input {
    width: 100%;
  }
  .input-title {
    width: 100%;
  }
  .input-name {
    width: 100%;
  }
  .input-message {
    width: 100%;
  }

  .form-animation {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 9.688rem;
    margin-bottom: 15.625rem;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .form-animation::-webkit-scrollbar {
    display: none;
  }
  .lineNumbers {
    font-size: 1rem;
    color: #8fa2b7;
    line-height: 1.313rem;
    text-align: end;
    padding-right: 2.5rem;
    padding-left: 0.938rem;
  }
  .animation-code-container {
    max-width: 35.563rem;
    padding-right: 0.938rem;
  }
  .line-code {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.313rem;
    color: #4d5bce;
    width: 100%;
    word-break: break-all;
  }
  .spacer {
    height: 2.313rem;
    width: 100%;
  }
}
