#footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 3.125rem;
  border-top: 1px solid #1e2d3d;
  background-color: #011627;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}
.wrapper {
  width: 9.375rem;
  border-right: 1px solid #1e2d3d;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  color: #8fa2b7;
  font-size: 1rem;
  font-weight: 400;
}
.icons-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}
.icon-container {
  width: 3.25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #1e2d3d;
}
.icon {
  fill: #8fa2b7;
}
.icon:hover {
  fill: #fff;
  transition: all 0.1s ease-in-out;
}
.icon-github-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #1e2d3d;
  width: 11.25rem;
}
.icon-github-container:hover {
  .icon {
    fill: #fff;
    transition: all 0.1s ease-in-out;
  }
  .title {
    color: #fff;
    transition: all 0.1s ease-in-out;
  }
}
.git-gap {
  padding-right: 0.313rem;
}

@media only screen and (max-width: 806px) {
  .icon-github-container {
    width: 3.25rem;
  }
  .desktop-link {
    display: none;
  }
}
