#home {
  min-height: 100vh;
  position: relative;
}
/* Mobile */
#home {
  background-image: url("../../assets/bg/mobile-bg.png");
  background-size: cover;
}
.home-container {
  padding-top: 9.5rem;
  padding-left: 1.688rem;
}
.home-greeting {
  font-size: 1.125rem;
  color: #fff;
  padding-bottom: 0.625rem;
}
.home-name {
  font-size: 3.875rem;
  color: #fff;
  padding-bottom: 0.625rem;
}
.home-profession {
  font-size: 1.25rem;
  color: #43d9ad;
}
.home-github {
  padding-top: 12.188rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  color: #8fa2b7;
}
.home-github-link {
  font-size: 0.875rem;
  line-height: 19.6px;
  color: #4d5bce;
}
.home-github-span-a {
  font-size: 0.875rem;
  color: #43d9ad;
}
.home-github-span-b {
  font-size: 0.875rem;
  color: #fff;
}
.home-github-a {
  font-size: 0.875rem;
  color: #e99287;
}
.home-game {
  display: none;
}
/*Desktop */
@media only screen and (max-width: 320px) {
  #home {
    overflow: scroll;
  }
}
@media only screen and (min-width: 806px) {
  #home {
    background-image: url("../../assets/bg/desktop-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 8.063rem;
  }
  .home-container {
    padding-top: 0;
    padding-left: 0;
  }
  .home-github-a:hover {
    color: #c98bdf;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 1120px) {
  .home-game {
    display: flex;
    justify-content: center;
    width: 512px;
    height: 477px;
    background-image: url(../../assets/bg/snake-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
